.back_color{
    background-color: rgb(23, 23, 23);
}

.ram_image_background{ 
    /* se a gente colocar mais produtos bora fazer isso mudar entre varias imagens */
    background-image: url("images/placeholder.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: none;
    height: 500px; 
}

.font{
    font-family: Arial, Helvetica, sans-serif;
}

.red_text{
    color: red;
}

.main_text{
    color: black;
}

.top_content_bar{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px;
    position: fixed;
    display: flex;
    flex-wrap: nowrap;
    width: 95%;
}
.top_content_bar > .top_content {
    margin-right: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: color 0.3s ease;
    &:hover{
        color: rgb(59, 122, 123);
    }
}
.top_content_bar > img{
    margin-right: 10px ;
}
.main_content{
    background-color: rgb(255, 255, 255);
    display: flex;
    height: 150px;
    flex-direction: column;
    margin-right: 20px;
}
.main_content > .left_bar{
    background-color: #356362;
    color: rgb(0, 0, 0);
    padding: 10px;
    
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}
.white_content{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin: 12px;
    width: 80%;
    color: rgb(0, 0, 0);
}
.main_content > .right_bar{
    flex-direction: row-reverse;
}

.main_content > .right_bar > div{
    background-color: red;
    padding: 10px;
    margin: 12px;
}


.bottom_content_bar{
    background-color: #ff0000;
    color: rgb(0, 0, 0);
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

/* já deixando pronto para colocar mais imagem */
/* 
*{box-sizing: border-box;}

.slideshow{
    max-width: 1000px;
    position: static;
    margin: auto;
}

.slides{
    display: none;
}

.images{
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade{
    from{opacity: .4;}
    to{opacity: 1;}
} */

.button{
    background-color: rgb(76, 105, 145);
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    width: fit-content;
}

.button:hover{
    background-color: rgb(0, 0, 0);
}